*{
  overflow: auto;
}
div{
  float: inherit;
}
h1 {
  text-align: center;
  color: blue;
}
h2{
  text-align: center;
  font-size: 50px;
}
.b-top-section{
  background-color: #523080;
  color: #ffffff;
  font-family: 'Fira sans', sans-serif;
  font-style: thin;
  padding: 35px;
  text-align: center;
}
#top-subheader{
  padding: 0% 15%;
}
.b-page-section-orange{
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
}
.meet-us-container, .directions-container{
  float: left;
  color: #ffffff;
  font-family: 'Fira sans', sans-serif;
  font-style: thin;
}
.meet-us-container{
  background-color: #ee5b43;
  width: 100%;
}
#meet-us-header{
  text-align: center;
  margin: 0 auto;
  padding: 2% 0;
}
#meet-us-phone{
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Fira sans', sans-serif;
}
#meet-us-twitter{
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  font-family: 'Fira sans', sans-serif;
  font-weight: lighter;
}
#meet-us-directions{
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Fira sans', sans-serif;
  padding: 0 35px;
}
iframe{
  display: inline-block;
  width: 600px;
  height: 450px;
  frameborder: 0;
  border: 0;
}
.b-divider{
  background-color: #333333;
  position: static;
  text-align: center;
  width: 100%;
  font-family: 'Fira sans', sans-serif;
  margin: 10px auto;
}
#b-divider-heading{
  color: #ffffff;
}
#b-divider-body {
  color: #848484;
}
.b-page-section-teal {
  position: static;
  text-align: center;
  font-family: 'Fira sans', sans-serif;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.ask-us-container{
  background-color: #008895;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
input{
  text-align: center;
}
textarea{
  text-align: center;
}
button{
  background-color: #ee5b43;
  width: 130px;
  height: 60px;
  color: #ffffff;
  border: 0;
  padding: 15px 20px;
}
.material-icons{
  color: #ffffff;
}
.b-button{
  color: #ffffff;
  font-style: bold;
}
.button{
  text-align: center;
}
