


body {
  background-color: #fff;
  display: inline-block;
}

h1 {
  text-align: center;
  color: blue;
}
h2{
  text-align: center;
}
.b-top-section{
  background-color: #523080;
  color: white;
  font: 'Montserrat', sans-serif;
  font-weight: lighter;
}
.meet-us-container, .call-email-us-container, .ask-us-container{
  text-align: center;
  margin: 50px;
  float: left;
}
