


body {
  background-color: #fff;
  display: inline-block;
}

h1 {
  text-align: center;
  color: blue;
}
h2{
  text-align: center;
}
.b-top-section{
  background-color: #523080;
  color: white;
  font: 'Montserrat', sans-serif;
  font-weight: lighter;
}
.meet-us-container, .call-email-us-container, .ask-us-container{
  text-align: center;
  margin: 0 auto;
  float: left;
  color: white;
}
.meet-us-container{
  background-color: #ee5b43;
  width: 50%;
}
/*.call-email-us-container{
  background-color: #ee5b43;
  width: 20%
}*/
.ask-us-container{
  background-color: #008895;
  width: 50%;
}
